%h1= title
%p{style: 'text-align:center'}
  %a{href: '/public/admin/index.html', target:'_blank'} Admin Area
#articles
  - each article in articles
    %div.article
      %div.created_at= article.created_at
      %div.title
        %a{href: "/posts/"+article._id.toHexString()}= article.title
      %div.body= article.body